#content-slider {
    // important so that the music & art slides don't overflow
    overflow: hidden;
    position: relative;
}

#art-div {
    z-index: 3;
    top:0;
    left: 100%;
    position: absolute;
    background: white;
    min-height: auto;
    width: 100%;
    -webkit-transition: all 1s, -webkit-transform 1s;
    transition: all 1s, transform 1s;
    height: max-content;

    &.fronting {
        top:0;
        left: 0;
        -webkit-transition: all 1s, -webkit-transform 1s;
        transition: all 1s, transform 1s;   
    }
}

#music-div {
    z-index: 3;
    top: 0;
    position: absolute;
    background: white;
    right: 100%;
    width : 100%;
    height: auto;
    -webkit-transition: all 1s, max-height 0s, -webkit-transform 1s;
    transition: all 1s, max-height 0s, transform 1s;

    &.fronting {
        top: 0;
        right: 0;
        -webkit-transition: all 1s, max-height 0s, -webkit-transform 1s;
        transition: all 1s, max-height 0s, transform 1s;
        width:100%;
    }
}