::-webkit-scrollbar {
    width: 20px;
    background:  rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid white;
  }
  
::-webkit-scrollbar-thumb {
    background: url('../img/Weaving_Vertical.png') center center no-repeat;
    background-size: cover;
    min-height: 200px;
}