body {
    margin: 0;
    align-content: center;
    text-align: center;
    h1 {
        font-family: "Times New Roman", cursive;
        font-size: 5vw;
        color: white;
        word-wrap: break-word;
        white-space: normal;
    }
    h2 {
        font-family: "Marck Script", cursive;
    }
    p {
        font-size: 3vh;
        text-align: justify;
    }
    header {
        display: flex;
        justify-content: center;
        max-height: 120px;
        overflow: hidden;
        a .text {
            height: 100%;
            font-size: 2em;
            margin-top: auto;
            margin-bottom: auto;
            color: #25515b;
            text-decoration: none;
            font-style: italic;
        }
    }
}

.crop {
    max-height: inherit;
    overflow: hidden;
    #signature {
      max-height: initial;
      margin-top: -90px;
      max-width: 30em;
    }
}

#slash {
    display: none;
}

.initial {
    width: 5em;
    height: 5em;
    padding-left: 0px;
    margin-left: -5px;
    padding-right: 15px;
    float: left;
}
  
.background {

    position: relative;
    height: 1000px;
    width:100%;
    background: url('../img/Zodiakas.jpg') center center no-repeat;
    background-size: cover;

    .cover-text {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
    }
}

#article {
    position: relative;
    z-index: 10;
    width: 80%;
    margin: 0 auto;
}

#signature-heading {
    display: none;
}

#main-heading {
    width: 100%;
    position: fixed;
    z-index: 0;
    align-content: center;
    text-align: center;
}

/* For the width of the original background image and smaller: */
@media only screen and (max-width: 837px) {
    .background {
      background-size: contain;
      background-position: top;
      height: 120vw;
      .cover-text {
          #main-heading{
             h1 {
              font-size: 15vw;
            } 
          }
      }
    }
}

@media only screen and (max-width: 1025px){
    header {
        #signature {
            display: none;
        }
        #slash {
            display: block;
            margin-left: 10px;
            margin-right: 10px;
        }
        a { 
            height: 100%;
            font-size: 2em;
            margin-top: auto;
            margin-bottom: auto;
            color: #25515b;
            text-decoration: none;
            font-style: italic;
        }
    }

    #signature-heading {
        display: inline-block;
        max-height: initial;
        margin-top: -90px;
        max-width: 30em;
    }
}
  
#wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 80em;
}
  
#container {
    float: left;
    padding: 1em;
    width: 100%;
}